/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
    text-align: center;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #2EA690;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:disabled {
    cursor: default;
    background: lightgrey;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
    border-radius: 100px;
    outline:none;
    -webkit-tap-highlight-color: transparent;
}

.compose button:hover {
    background: #1A927C;
}

.compose .icon {
    width: 16px;
    height: 16px;
    filter: invert(100%) sepia(2%) saturate(495%) hue-rotate(224deg) brightness(115%) contrast(87%);
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.user{
    border-left: #2EA690 4px solid;
    padding-left: 10px;
    margin-bottom: 10px;
}

.ham-button{
    display: none;
}

@media (max-width: 768px){
    .centered-form__box {
        box-shadow: 0px 0px 17px 1px #1D1F26;
        background: #F7F7FA;
        padding: 24px;
        width: 250px;
    }

    .centered-form__box label{
        font-size: 18px;
    }

    .centered-form__box label{
        font-size: 18px;
    }

    .centered-form__box button{
        font-size: 18px;
    }

    /* button:hover{
        background-color: transparent;
    } */

    .chat__sidebar {
        position: absolute;
        overflow: hidden;
        width: 100vw;
        transform: translateX(-100%);
        transition: transform 0.2s ease;
        z-index: 1;
    }

    .show-chat-sidebar {
        transform: translateX(0);
    }

    .chat__main {
        height: 95vh;   
    }

    .ham-button{
        display: block;
        position: absolute;
        z-index: 1000;
        background-color: transparent;
        width: 27px;
        height: 27px;
        top: 20px;
        right: 20px;
        outline: none;
        background-image: url("../img/bars-solid.svg");
        background-size: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    .ham-button-close{
        background-image: url("../img/times-circle-regular.svg");
        background-color: transparent;
        filter: invert(100%) sepia(2%) saturate(495%) hue-rotate(224deg) brightness(115%) contrast(87%);
    }
}